.layout {
  display: flex;
  min-height: 100vh;
  background: #f9f9f9;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 24px;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}
